<!DOCTYPE html>
<html lang="en">
<head>
<!-- Obligatorias para todas las páginas -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet"	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<!-- Concretas para esta página -->
<title>HelpFood - Crear receta</title>
<link rel="shortcut icon" href="img/favicon.ico">
<link rel="stylesheet" type="text/css" href="/css/general.css"	media="screen" />
<script type="text/javascript" src="js/templates.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/crear_receta.css"	media="screen" />
<script type="text/javascript" src="js/crear_receta.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="js/notificaciones.js"></script>
</head>

<body>
	<header class="mostrarEncabezado mb-3"></header>
		<div class="  expand">
			<div class="user_card h-100">
				<div class="container-fluid ">
					<a href="mis_recetas.html" type="button" class="btn btn-danger mt-3">Cancelar</a>
								
					<div class="row my-5">
						<!--  <div class="col-sm mx-3">
							<div class="d-flex ">
								<form method="POST"  action="/upload" enctype="multipart/form-data">										
									<div style= "color:#fff" class="mx-3 encoger">									
									    <div class="mb-4 encoger">
									      <img id="output" class="foto_perfil" >
									    </div>
									   
									    <input type="file" id="file-selector" class="select_foto" name="file">
									    <p id="status"></p>								    
										<div class="d-flex justify-content-center mt-3 mb-5 login_container">
											<input type="submit" id="subirFoto" disabled="disabled" value="Guardar foto" class="btn btn-success"/>
										</div>
									   						    
								    </div>						    							
								</form>
							</div>
						</div>-->

						<div class="col-sm mx-3 ">
							<div class="d-flex justify-content-center form_container" style="text-align:left;">
								<form name="f1">
									<span class="titulo_menor">Titulo de la receta</span>
									<div class="input-group mb-3">
										<input type="text" id="titulo"
											class="form-control input_user inputs_receta" value=""
											placeholder="Titulo*" required>
									</div>
									<span class="titulo_menor">Cultura</span>
									<div class="input-group mb-3">
										<input type="text" id="cultura"
											class="form-control input_pass inputs_receta " value=""
											placeholder="Origen " required>
										<div id="error_clave"></div>
									</div>
									
									<span class="titulo_menor">Tiempo de preparación</span>
									<div class="input-group mb-3">										
									  <input type="time" id="tiempoPreparacion" class="form-control inputs_receta" placeholder="Select time">						
									</div>
									
									<span class="titulo_menor">Dificultad que consideras</span>
									<div class="input-group mb-3 content-select">
										<select id="dificultad">
											<option value="Noob" id="Noob">Noob</option>
											<option value="Principiante" id="Principiante">Principiante</option>	
											<option value="Cocinillas" id="Cocinillas">Cocinillas</option>
											<option value="Avanzado" id="Avanzado">Avanzado</option>
											<option value="MasterChef" id="MasterChef">MasterChef</option>								
										</select>
									</div>									
								</form>
							</div>
						</div>

						<div class="col-sm  mx-3 ">
							<div class="d-flex justify-content-center form_container" style="text-align:left;">
								<form>									
									<span class="titulo_menor">Utensilios necesarios</span>
									<div class="input-group mb-3">							
										
										 <div id="app" class="m-auto p-3">
									        <div class="input-group mb-3">
									          <input v-model="nomRecetas" type="text" id="utensilios" class="form-control" placeholder="Utensilios" aria-label="Recipient's username" aria-describedby="button-addon2">
									          <div id="click" class="input-group-append">
									            <button v-on:click="receta" class="btn btn-primary" type="button" id="button-addon_1">ADD</button>
									          </div>
									        </div>
									        
									        <ul id="opcionesUtensilios" class="list-group list-group-flush">
									          <li v-for="(item,index) in recetas" class="list-group-item">{{item.titol}}<i class="fas fa-times btn  pull-right" v-on:click="elim(index)" type="button" id="button-addon2_1"></i></li>
									        </ul>
									      </div>											
									</div>	
										
								</form>
							</div>
						</div>								
						
						<div class="col-sm  mx-3">
							<div class="d-flex justify-content-center form_container" style="text-align:left;">
								<form>									
									<span class="titulo_menor">Pasos de elaboración</span>
									<div class="input-group mb-3">							
										<a class="titulo_menor mx-3" type="button" id="sumaPaso" style= "color:#fff">
											Añadir pasos
											<i class="fas fa-plus ml-3"  style= "color:#fff"></i>
										</a>
										<table id="paso" class="table">
										</table>
										 										
									</div>	
								</form>
							</div>
						</div>						
					</div>
					
					<div class="row my-5 justify-content-center">						
						<a class="titulo_menor mx-3" type="button" id="sumaIngrediente" style= "color:#fff">
							Añadir ingrediente
							<i class="fas fa-plus ml-3"  style= "color:#fff"></i>
						</a>
						<table id="ingrediente" class="table">	
						</table>						
				</div>
					
					<div class="row mb-4 mx-3">
						<span class="titulo_menor">Descripción sobre la receta</span>
						<textarea id="descripcion" class="form-control" rows="3" ></textarea>
					</div>
					
					<div class="col-sm">
						<form method="POST" enctype="multipart/form-data">							
							<div class="d-flex justify-content-center mt-5 mb-3 login_container">
								<input type="button" id="crearReceta" value="Crear receta" class="btn crear_receta_btn"/>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>

	<footer class="mostrarFooter page-footer blue-grey lighten-5"></footer>

	
	<script>
	var click = new Vue({
		el : '#app',
		data : {
			nomRecetas : "",
			recetas : []
		},

		methods : {
			receta : function(event) {
				this.recetas.push({
					titol : this.nomRecetas
				})
			},
			elim : function(idRecetas) {
				this.recetas.splice(idRecetas, 1);
			}
		}
	});
    </script>
</body>
</html>