<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
    <a class="index_title" href="index.html"><b>HelpFood</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
    </button>

	<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
		<div class="navbar-nav justify-content-end">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link mr-2" href="listas.html" data-toggle="tooltip" title="Listas de recetas"> <i class="fas fa-list"></i></a>
				 </li>
				<li class="nav-item active">
					<a class="nav-link mr-2" href="calendario.html" data-toggle="tooltip" title="Calendario"> <i class="fas fa-calendar-minus"></i></a>
				</li>
				
				<li class="nav-item active">
					<a class="nav-link mr-2" href="mis_recetas.html" data-toggle="tooltip" title="Mis recetas"> <i class="fas fa-arrow-up"></i></a>
				</li>
				
				<li class="nav-item active">
					<a class="nav-link mr-2" href="lista_concreta.html?titulo=favoritas" data-toggle="tooltip" title="Recetas favoritas"> <i class="fas fa-heart"></i></a>
				</li>
				 
				<li class="nav-item active">
					<a class="nav-link mr-2" href="recetas.html" data-toggle="tooltip" title="Filtro de busqueda"> <i class="fas fa-search"></i></a>
				</li>
				 
				<li class="nav-item active">
					<a type="button" onclick="mostrarToast()" id="notificaciones" class="nav-link mr-2 mostrar" data-toggle="tooltip" title="Notificaciones"> <i class="fas fa-bell"></i></a>
				</li>
				 
				
				 <li class="nav-item dropdown show" id="nav_profile">					 
					<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
					  <a id="user_dropdown" class="dropdown-item disabled" href="#"> </a>
					  <div class="dropdown-divider"></div>
					  <a class="dropdown-item" href="perfil_usuario.html"><i class="fas fa-address-card"></i> Perfil</a>
					  <a class="dropdown-item btn" data-toggle="modal" data-target="#myModal" href="#"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
					</div>
				 </li>
			</ul>
		</div>
	</div>	
	<!-- POPUP cerrar sesion -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
		        <button type="button" class="close" data-dismiss="modal">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<p>Confirma si quieres salir de tu cuenta!</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
		        <input type="button" class="btn btn-primary" value="Ok" onclick="cerrarSesion();">
		      </div>
		    </div>
		  </div>
	</div>
</nav>

<!-- Notificaciones -->
<div id="area_notify" class="area_notif">
</div>