.user_card {
	height: 40em;
	width: 100%;
	margin-top: auto;
	margin-bottom: auto;
	background: #252323;/*gris oscuro*/
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}
.encoger{
	width:auto;
	text-align:center;
}
.select_foto{
	width:auto;
	margin-left:30%;
}
#file-selector{
	color:transparent;
}
.foto_perfil {
	height: 125px;
	width: 125px;
	border-radius: 50%;
}
.inputs_receta{
	border: none;
	border-bottom: 1px solid #865454;
	background: transparent;
	outline: none;
	height: 40px;
	color: #83817f;
	front-size: 16px;
}

.titulo_menor{
	color: #cac6c1;
}
.col-sm {
	min-width:13em;
}
.crear_receta_btn {
	width: 100%;
	background: #E79733 !important;
	color: white !important;
}
.crear_receta_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}