body{/**/
	background:#403E3E;
	font-size:16px;
	margin:2em 4em ;
}

.opciones{
	background:#5F5A5A;	
}

.cuerpo{
	background:#fff;
	border-radius:5px;
	height:100%;
}

.container{
	margin-top:1em;
}

#nav{/**/
	border-radius:5px;
	position: relative;
}
.index_title{/**/
	color:#000;
	font-size:1.5em;
	cursor: -webkit-grab;
	font-family: Montserrat, Helvetica, Sans-serif;
}

.brand_logo_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: 15px;
	border-radius: 50%;
	background: transparent;
	padding: 10px;
	text-align: center;
}
.brand_logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

.inputs_edicion{
	background-color : #333333; 
  	color: white;
	height: 31px;
	width: 200px;
	front-size: 16px;
}

.selectRecetaConcreta{
	height: 35px;
	width: 200px;
	front-size: 16px;
}

.inputs_edicion:disabled {
  background: #666666;
}

.pruebaBorrar{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	
}

.margen_filtros{
	margin-left: 0px;
	margin-right: 0px;
}
a.index_title:link, a.index_title:visited, a.index_title:active {
    text-decoration:none;
}

.form-control{/*color de la barra de navegacion*/
	background:#D7D6D6;	/*gris*/
}
.dropdown-item.active, .dropdown-item:active {/*color al seleccionar una opcion del perfil */
	background-color: #bd2130; /*rojo*/
}
.foto_logo{
	text-align:center;
}
.logo{
	margin-top:3em;
	/* height:15em; */
	height:30em;
}
.d-block{
	height:60vh;
}
body footer{	
	background:#403E3E;
	margin-top:auto;
	position:fixed;
	left: 0;
    bottom: 0; 
    width: 100%;
	text-align:right;	
	padding:0 1em;
	font-size:.7em;
	color:#fff;	
	z-index:12;
}

.redes{
	transform: scale(0.7);
	color:#fff;
}

#calendar{
	background-color: white;
}

.paso{
	 cursor: pointer;
}
.fc-content{
	cursor: pointer;
	color: white;
}
.close:not(:disabled):not(.disabled):focus{
	border:0;
}

/*INICIO DE NOTIFICACIONES*/

#mitoast {
  visibility: hidden;
  z-index: 0;
  right: 2.5%;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: .25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
  max-width: 310px;
  width: 310px;
  background-color: #ffffff;
  opacity: 1;
  margin-bottom:5px;
}

#mitoast.mostrar {
  z-index: 10;
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.6s;
  animation: fadein 0.5s, fadeout 0.5s 4.6s;
}
 
@-webkit-keyframes fadein {
  from {right: 0; opacity: 0;} 
  to {right: 2.5%; opacity: 1;}
}
 
@keyframes fadein {
  from {right: 0; opacity: 0;}
  to {right: 2.5%; opacity: 1;}
}
 
@-webkit-keyframes fadeout {
  from {right: 2.5%; opacity: 1;} 
  to {right: 0; opacity: 0;}
}
@keyframes fadeout {
  from {right: 2.5%; opacity: 1;}
  to {right: 0; opacity: 0;}
}
#mitoast.cerrar {
  /* visibility: visible; */
  -webkit-animation: fadeout 0.5s 4.8s;
  animation: fadeout 0.5s 4.8s;
}
@-webkit-keyframes fadeout {
  from {right: 2.5%; opacity: 1;} 
  to {right: 0; opacity: 0;}
}
 
@keyframes fadeout {
  from {right: 2.5%; opacity: 1;}
  to {right: 0; opacity: 0;}
}
#area_notify{
	position: absolute;
	margin-top: 1%;
	right: 2.5%;
	
}
.ahoraSiEstoy{z-index:10;}
.area_notif{z-index:0;}
/*FIN DE NOTIFICACIONES*/

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-body{
	padding: 5px;
}