.midropdown {
	position: relative;
	display: inline-block;
	}

	.midropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 400px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
	color: black;
	}

	.midropdown:hover .midropdown-content {
	display: block;
}